@model IEnumerable<HubGrubv2.Models.DishModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishPrice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishPrice)
                </td>
            </tr>
        }
    </table>
</body>

